:root {
  --primaryFont: -apple-system, BlinkMacSystemFont, sans-serif;
  background: linear-gradient(246deg, rgba(0,255,212,0.1) 0%, rgba(68, 255, 68, 0.05) 35%, rgba(65, 251, 55, 0.05) 58%, rgba(0,212,255,0.1) 100%) no-repeat;
}

body {
  font-family: var(--primaryFont);
}

@media only screen and (min-width: 1024px) {
  :root {
    background: transparent;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
@media only screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-areas: "header header header" "col1 col2 col3";
    margin: 0 5vw;
    align-items: flex-start;
  }
}

h1 {
  margin: 0;
  width: 100%;
  grid-area: header;
}

section {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  section {
    background-color: #ececec;
  }
}

footer {
  margin: 2em 5vw 0;
}

main section:nth-child(1) {
  grid-area: col3;
}
main section:nth-child(2) {
  grid-area: col1;
}
main section:nth-child(3) {
  grid-area: col2;
}

section:hover {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 4px black;
}

img {
  max-width: 100%;
}